#container {
	width:300px;
	border:3px solid grey;
    margin:50px  auto 10px;
	border-radius:5px;
	background-color:green;
	
}
#rez {
	text-align:right;
	border:1px solid yellow;
	margin:5px;
	padding:0 10px 0 0;
	border-radius:5px;
	font-size:16px;
 
}
#rez > p{
	margin:0 5px;
	height:27px;
	
}
#cur {
  display:flex;
  justify-content:flex-end;
  overflow:hidden;
  align-content:space-around;
  
}
#display {
	font-size:20px;
}
body {
	background-color:hsl(120,30%,70%);
}
#clear {
	width:140px;
	height:70px;
	font-size:20px;
	border:1px solid grey;
	border-radius:5px;
	margin:2px;
	background:hsl(360,90%,45%);
	text-align:center;
	user-select:none;
}
#clear:active {
	background-color:green;
	color:white;
}
#buttons {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
#buttons >  button:hover,#clear:hover{
	border:1px solid black;
}
#buttons > button {
	width:70px;
	height:70px;
	font-size:20px;
	border:1px solid grey;
	border-radius:5px;
	margin:2px;
}
#note {
	text-align:center;
}
#note > b {
	color:blue;
}
